<table class="table table-bordered table-striped table-hover">
	<thead>
		<th>Username</th>
		<th>Price</th>
		<th>Thread</th>
	</thead>
	<tbody>
	{% for listing in listings %}
		<tr>
			<td>{{listing.hard_username}}</td>
			<td>{{listing.price}}</td>
			<td><a href="{{listing.hard_url}}" title="{{listing.hard_url}}" >link</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>